---
layout: layout.liquid
---

<div class="layout-main">

  <header class="grid-masthead">
    <div class="masthead-nav">
      <h1><a href="/"><span class="logo">//---</span> John Brooks</a></h1>
      <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
      </nav>
    </div>
    <hr>
  </header>

  <aside class="grid-sidebar">
    <div class="section">
      <h2 class="sidebar-header">About</h2>
      <p>My name is <strong>John Brooks</strong>. I live in <strong>Omaha, Nebraska</strong>, USA. I'm a front-end web developer, specializing in User Experience, HTML, CSS, and a sprinkling of Javascript.</p>
      <p>I'm known in some vanishingly small circles as <strong>pupismyname</strong> or <strong>pup</strong>.</p>
      <p>You'd think that after doing this for 25 years I'd have a cooler website. But instead I have this.</p>
    </div>
    <div class="section">
      <h2 class="sidebar-header">Work</h2>
      <ul class="listing">
        <li><a href="https://www.ookla.com/">Ookla</a></li>
        <li><a href="https://www.speedtest.net/">Speedtest</a></li>
        <li><a href="https://www.georgiagoldenolympics.org/">Georgia Golden Olympics</a></li>
        <li><a href="https://www.linomafc.com/">Linoma FC</a></li>
        <li><a href="https://www.weshouldhavewebsite.com/">We Should Have Website</a></li>
      </ul>
    </div>
    <div class="section">
      <h2 class="sidebar-header">Contact</h2>
      <ul class="listing">
        <li><a href="/resume/">Resume</a></li>
        <li><a href="https://mastodon.social/@pupismyname" rel="me">Mastodon</a></li>
        <li><a href="https://github.com/pupismyname">Github</a></li>
        <li><a href="https://codepen.io/pupismyname/">CodePen</a></li>
        <li><a href="mailto:john.brooks@gmail.com">Email</a></li>
      </ul>
    </div>
    <hr>
  </aside>

  <main class="grid-main">
    {{ content }}
    <hr>
  </main>

  <footer class="grid-footer">
    <nav class="footer-nav">
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
    </nav>
  </footer>

</div>
