---
layout: layout-main.liquid
title: Content
---
<div class="header">
  <h1>{{title}}</h1>
  <p class="subdued small">{{page.date | readableDateTime}}</p>
{%- unless date -%}
  <p>
    <b>! ! ! ! ! !</b> Don't forget your metadata date <b>! ! ! ! ! !</b><br><br>
    <code>date: {{page.date | metadataDateTime}}</code><br><br>
    This is UTC, ready to copy and paste.<br><br>
    <b>! ! ! ! ! !</b> Don't forget your metadata date <b>! ! ! ! ! !</b>
  </p>
{%- endunless -%}
</div>
<hr>
<div class="content">
  {{ content }}
</div>
{%- include "next-prev.liquid", coll: collections[collection], currentPage: page -%}
