{%- if list == blank -%}
  {%- assign list = collections.content | reverse | slice: 0, 10 -%}
{%- endif -%}
{%- if listTags == blank -%}
  {%- assign listTags = false -%}
{%- endif -%}
{%- if listCategory == blank -%}
  {%- assign listCategory = false -%}
{%- endif -%}
<div class="content">
  <ul class="content-list">
    {%- for item in list %}
      {%- assign titleSlug = item.data.title | slugify %}
      <li class="content-list-item title">
        <h3 class="title-title"><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
        {%- if item.data.desc %}
          <p class="title-desc">{{ item.data.desc }}</p>
        {%- endif %}
        <p class="title-date subdued small">{{item.date | readableDateTime}}</p>
        {%- if listTags or listCategory %}
          <p class="title-tags subdued small">
            {% include "list-tags.liquid", item: item, listCategory: listCategory, listTags: listTags -%}
          </p>
        {%- endif %}
      </li>
    {%- endfor %}
  </ul>
</div>
