<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/articles/">Articles</a></li>
    <li><a href="/showcase/">Showcase</a></li>
    <li><a href="/credits/">Credits</a></li>
    <li><a href="/resume/">Resume</a></li>
    <li>
      <a href="/feed.xml">
        Subscribe
        <span class="svg-icon" title="Atom feed">
          {% svg 'assets/s/media/feed.svg' -%}
        </span>
      </a>
    </li>
  </ul>
</nav>
