<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/articles/">Articles</a></li>
    <li><a href="/showcase/">Showcase</a></li>
    <li><a href="/credits/">Credits</a></li>
    <li><a href="/resume/">Resume</a></li>
    <li>{% include "atom-link.liquid" %}</li>
  </ul>
</nav>
