{%- assign nextPost = coll | getNextCollectionItem: currentPage %}
{%- assign previousPost = coll | getPreviousCollectionItem: currentPage %}
<hr>
<div class="next-prev">
  <p class="next-prev-control next-prev-prev">
    {%- if previousPost %}
      Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    {% else %}
      Previous: <span class="subdued">Nothing before this</span>
    {% endif %}
  </p>
  <p class="next-prev-control next-prev-top"><a href="#top">Back to top</a></p>
  <p class="next-prev-control next-prev-next">
    {%- if nextPost %}
      Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    {% else %}
      Next: <span class="subdued">Nothing after this</span>
    {% endif %}
  </p>
</div>
