---
layout: layout-main.liquid
title: John Brooks
layoutType: index
eleventyNavigation:
  key: Home
  order: 0
---
<div class="title">
  <h1 class="title-title">Latest</h1>
  <hr>
</div>
{% include "list-content.liquid" %}
<hr>
<p>Find more in the <a href="/archive/">Archive</a></p>
