---
layout: layout-main.liquid
excludeFromCollections: true
title: Showcase
eleventyNavigation:
  key: Showcase
  order: 2
---
<h1>Showcase</h1>
<hr>
{%- assign list = collections.showcase | reverse -%}
{%- include "list-all", list: list, listTags: false -%}
