---
title: 30000fps 155504264173
desc: Recreating an animation by 30000fps in CSS.
height: 800
tags:
  - css
  - animation
date: 2017-09-12 21:12:06
---
<p>{{ desc }}</p>
<p>Original: <a href="https://web.archive.org/web/20190226013343/http://30000fps.com/post/155504264173">http://30000fps.com/post/155504264173</a></p>

{% include "embed-codepen.liquid", id: "YrzxQv", height: height, name: "30000fps 155504264173" -%}
