---
title: Canvas Circle Experiment 2
desc: An animated rainbow disc.
height: 800
tags:
  - canvas
  - animation
date: 2014-02-25 03:01:20
---
<p>{{ desc }}</p>
{% include "embed-codepen.liquid", id: "JjPpNa", height: height, name: "Canvas Circle Experiment 2" -%}
