---
title: CSS Gradient Speech Bubble
desc: A speech bubble with a gradient outline and a little arrow at the bottom, all CSS.
height: 800
tags:
  - css
date: 2020-07-31 23:53:43
---
<p>{{ desc }}</p>
{% include "embed-codepen.liquid", id: "BajXRvw", height: height, name: "CSS Gradient speech bubble" -%}
