---
title: Glowing Border
desc: Simulating a border glow effect where an image intersects its container.
height: 800
tags:
  - experiment
  - css
date: 2013-04-25 19:26:41
---
<p>{{ desc }}</p>
{% include "embed-codepen.liquid", id: "nwoqXy", height: height, name: "Glowing Border" -%}
