---
title: Kaleidoscope
desc: Animating a tiled SVG background.
height: 800
tags:
  - svg
  - animation
  - experiment
date: 2018-03-01 19:42:56
---
<p>{{ desc }} This was an experiment for a work project.</p>

{% include "embed-codepen.liquid", id: "paYgLe", height: height, name: "k" -%}
