---
title: Kaleidoscope
height: 800
date: 2018-03-01 19:42:56
---
<p>Animating a tiled SVG background. Experiment for a work project.</p>
<p>Last I checked this didn't work in Firefox.</p>

{% include "embed-codepen.liquid", id: "paYgLe", height: height, name: "k" %}
