---
title: Turning Squares (beesandbombs)
desc: Recreating a beesandbombs animation with CSS
height: 800
tags:
  - css
  - animation
  - experiment
date: 2018-09-18 22:12:20
---
<p>Recreating this in HTML and CSS <a href="https://beesandbombs.tumblr.com/post/178180785834/turning-squares">https://beesandbombs.tumblr.com/post/178180785834/turning-squares</a>.</p>
<p>This one was quite a bit more complicated than expected. Two of the squares are duplicated in the corner rotation, which I didn't notice it until I was well into building it.</p>

{% include "embed-codepen.liquid", id: "rZQZbq", height: height, name: "beesandbombs - turning squares" -%}
